h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif;
}

p,input{
    font-family: 'Roboto', sans-serif;
}

#intro .jumbotron{
    height: 100vh;
    background-image: url(../pictures/792020_210428_0.jpg);
    background-size: cover;
    transition: 200ms;
}

#intro .jumbotron:hover{
    height: 100vh;
    background-image: url(../pictures/DSC_3719.JPG);
    background-size: cover;
    transition: 200ms;
}


img {
    max-width: 100%;
}

#intro h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
}

#intro .container{
    position: relative;
    top: 50%
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

header li{
    margin: 0 18px;
}

#second h2.mb-4{
    font-size: 34px;
    text-transform: capitalize;
}

#second h3.mt-2\ mb-0{
    font-size: 20px;
    text-transform: capitalize;
}

#intro p.lead{
    font-size: 18pt;
    text-transform: capitalize;
}

#latest{
    padding: 80px 0px;
    background-color: whitesmoke;
}

#latest h2{
    margin-bottom: 80px;
    font-size: 34px;
    text-transform: capitalize;
}
#latest .lower h3{
    font-size: 30px;
    text-transform: capitalize;
}
#latest .outer{
    background-color:  whitesmoke;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

#latest .lower{
    padding: 6px 20px 20px 20px;
}

#latest a{
    color: black;
}

#latest a:hover{
    text-decoration: none;
    color: #333D51;
    text-shadow: black;
}

#latest 

#footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer .container{
    max-width: 1170px;
    margin: auto;
}

#footer ul{
    list-style: none;
    padding-left: 0;
}

#footer .row{
    display: flex;
    flex-wrap: wrap;

}
#footer.footer{
    background-color: #8E7C68;
    padding: 70px 0;
}

#footer .col-md-4{
    width: 25%;
    padding: 0 15px;
}

#footer .col-md-4 h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

#footer .col-md-4 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ED7458;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
#footer .col-md-4 ul li:not(:last-child){
    margin-bottom:10px  ;
}

#footer .col-md-4 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

#footer .col-md-4 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

#footer .col-md-4 .social-links a{
    display: table-cell;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #ffffff;
}


